

#root {
    width: 100vw;
    height: 100vh;
}







.todoInput1, .todoInput2, .todoInput3 {
    display: none;
}

.display {
    display: flex !important;
}

input[type=text] {
    width: calc(100% - 20px);
    margin-top: 1px;
    border: none;
    border-bottom: 1px solid black;
}

.modalShow {
    display: block !important;
}

.todo > p > button, .display button {
    background-color: white;
    border: none;
    width: 20px;
    height: 20px;
}

.todo > p > button:hover, .display button:hover {
    cursor: pointer;
}

thead th {
    font-size: 10px;
}

.modalTable {
    width: 100%;
}

.modalTable .selected {
    background-color: dodgerblue;
    color: white;
}

.modalTable p {
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
}

.modalTable td {
    width: 40px;
    height: 40px;
}


.memoMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.memoShow {
    overflow: scroll;
    padding: 10px;
    background-color: lemonchiffon;
    border-radius: 10px;
}

.memoShow::-webkit-scrollbar {
    display: none;
}

#memo {
    resize: none;
    border: none;
    background-color: lemonchiffon;
    border-radius: 20px;
    padding: 10px;
}

.memoMenu button{
    background-color: transparent;
    font-size: 16px;
    display: inline-flex;
}

.memoMenu button:first-child {
    color: red;
}





.emojiModalContainer, .diaryModalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100% - 180px);
    background-color: #00000066;
    padding-bottom: 180px;
}

.emojiModal, .diaryModal {
    width: calc(100% - 40px);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 20px;
    min-height: 350px;
}

.utilModalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100% - 180px);
    background-color: #00000011;
    padding-bottom: 180px;
}

.utilModal {
    width: calc(100% - 20px);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    padding: 10px;
}

.utilModal input:first-child {
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #999999;
}

.utilModal input:nth-child(2) {
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
}

.utilModal input {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #dddddd;
    color: dodgerblue;
    border-radius: 10px;
}

.diaryContainer {
    padding: 10px;
}

.diaryContainer > p {
    margin: 10px 0;
}

.diaryContainer input[type=button]:hover {
    cursor: pointer;
}

.diaryHeader {
    display: flex;
    justify-content: space-between;
}

.diaryHeader p {
    font-size: 20px;
}

.diaryEmoji p {
    font-size: 40px;
}

.diaryHeader input {
    background-color: transparent;
    border: none;
    font-size: 20px;
    line-height: 17px;
}

.diaryContainer textarea {
    border: none;
    resize: none;
    width: 100%;
    height: 100px;
}

.diaryEmoji{
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.diaryEmoji input {
    font-size: 40px;
    background-color: transparent;
    border: none;
}

.emojiNormal {
    color: transparent;
    text-shadow: 0 0 0 dodgerblue;
}

.emojiModal td {
    font-size: 20px;
}

@media (min-width: 700px) {
    .calendar {
        display: flex;
        gap: 50px;
    }

    .calendarMain {
        width: 400px;
    }

    .todo {
        min-width: 226px;
    }
}

@media (min-width: 500px) {
    .modal, .emojiModal, .diaryModal {
        width: 460px;
    }
}